
<div class="container pt-4">
    <div class="row">
        <div class="col-12">
            <br>
            <h3><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm4.5 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
              </svg>&nbsp;Alta de usuario</h3>
            <hr class="my-2" >
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <label for="numeroCliente">Número de cliente</label>
              <input type="text" class="form-control" name="numeroCliente" ng-model="cliente.numeroCliente" oninput="this.value = this.value.toUpperCase()" placeholder="Ingresa número de cliente">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="nombre">Nombre(s)</label>
                <input type="text" class="form-control" name="nombre" ng-model="cliente.nombre" oninput="this.value = this.value.toUpperCase()" placeholder="Ingresa nombre del cliente">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="apellido">Apellido(s)</label>
                <input type="text" class="form-control" name="apellido" ng-model="cliente.apellido" oninput="this.value = this.value.toUpperCase()" placeholder="Ingresa el apellido del cliente">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="nss">NSS</label>
                <input type="number" class="form-control" name="nss" ng-model="cliente.nss" placeholder="Ingresa NSS del cliente">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="curp">CURP</label>
                <input text="text" class="form-control" name="curp" ng-model="cliente.curp" oninput="this.value = this.value.toUpperCase()" placeholder="Ingresa el CURP del cliente">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="afore">Afore</label>
                <input text="text" class="form-control" name="afore" ng-model="cliente.afore" oninput="this.value = this.value.toUpperCase()" placeholder="Ingresa el afore del cliente">
            </div>
        </div>
        <div class="col-sm-6 col-md-4 ">
            <div class="form-group">
                <label for="asesor">Asesor</label>
                <input type="text" class="form-control" name="asesor" ng-model="cliente.asesor" oninput="this.value = this.value.toUpperCase()" placeholder="Ingresa el asesor del cliente">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="sc">SC</label>
                <input type="number" min="1" class="form-control" name="sc" ng-model="cliente.sc" placeholder="Ingresa SC del cliente">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="sd">SD</label>
                <input type="number" min="0" class="form-control" name="sd" ng-model="cliente.sd" placeholder="Ingresa SD del cliente">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="fb">FB</label>
                <div class="d-flex">
                    <input type="text" class="form-control" ng-model="cliente.fb" name="fb" placeholder="Ingresa fecha de baja del cliente" change-month="true" change-year="true" datepicker readonly>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="sbc">SBC</label>
                <input type="text" class="form-control" name="sbc" ng-model="cliente.sbc" placeholder="Ingresa SBC del cliente">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="alta">Alta</label>
                <div class="d-flex">
                    <input type="text" class="form-control" ng-model="cliente.alta" name="alta" placeholder="Ingresa el alta del cliente" change-month="true" change-year="true" datepicker readonly >
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="diasTranscurridos">47 días</label>
                <div class="d-flex">
                    <input type="text" class="form-control" ng-model="cliente.diasTranscurridos" name="diasTranscurridos" placeholder="Ingresa fecha de 47 días" change-month="false" change-year="false" readonly>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-8">
            <div class="form-group">
                <label for="comentarios">Comentarios</label>
                <textarea name="comentarios" class="form-control" ng-model="cliente.comentarios" oninput="this.value = this.value.toUpperCase()" placeholder="Comentarios del alta"  rows="1"></textarea>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-info" ng-click="guardarCliente()" style="border-radius:50%;position: fixed; bottom: 30px; right: 15px; z-index: 105;height: 50px; width: 50px;font-size: 1.5rem;" data-toggle="tooltip" data-placement="left" title="Guardar" >
    <i class="fas fa-save fa-1x"></i>
</button>